{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current" //<-- To avoid the "ReferenceError: regeneratorRuntime is not defined" with React
                }
            }
        ], //Para trabajar con ES5 y ES6
        "@babel/preset-react" //Para trabajar con JSX y React
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}