@import '../../../assets/styles/Vars.scss';

.container{
    padding: 50px 22px;
}

.title{
    margin-top: 0px;
    margin-bottom: 18px;
    font-size: 48px;
    font-weight: 500;
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 140px 30px 0px 30px;
}

.circular-button.circular-button__action--like{
    background-color: #FF3A3A;
}

.circular-button.circular-button__action--add{
    background-color: #5BCB80;
}

.circular-button.circular-button__action--send{
    width: 85px;
    height: 85px;
    margin-bottom: 40px;
    background-color: #5BCB80;
    
    img{
        width: 40px;
    }
}

.flex-container{
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}