@import '../../../assets/styles/Vars.scss';
// @import '../../../assets/styles/Fonts.scss';

ul{
    list-style-type: none;
    padding: 0px;
}

.container{
    padding: 50px 22px;
}

.title{
    margin-top: 0px;
    margin-bottom: 18px;
    font-size: 48px;
    font-weight: 500;
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 140px 30px 0px 30px;
}

.circular-button.circular-button__action--like{
    background-color: #FF3A3A;
}

.circular-button.circular-button__action--add{
    background-color: #5BCB80;
}

.circular-button.circular-button__action--send{
    width: 85px;
    height: 85px;
    margin-bottom: 40px;
    background-color: #5BCB80;
    
    img{
        width: 40px;
    }
}

.input{
    position: relative;
    width: 80%;
    margin-top: 60px;

    span{
        position: absolute;
        top: 6px;
        left: 10px;
        font-size: 15px;

        img{
            width: 28px;
        }
    }
}

.input__field{
    border: none;
    border-bottom: 2px #4b4b4bad solid;
    color: $main-font-color;
    font-family: 'Nunito-Sans';
    font-weight: 500;
    font-size: 30px;
    outline: none;
    padding-left: 50px;
    width: 100%;
}


.flex-container{
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}