.overlay{
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    background-color: #fffffff5;
}

.close{
    position: absolute;
    right: 16px;
    top: 20px;
    z-index: 10;
    background-color: transparent;
    border: none;

    img{
        width: 20px;
    }
}